@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
 <p>This machine does not belong to any engineers</p>
}
else 
{
  <h4>Engineers the Machine belongs to:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
      //Creates a seperate Delete button for each category. The first arg. passed into the form is route method, the second is the controller. The point of this is to delete the entry in the join table.
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        //First arg. is the name of the route parameter being passed, the second is the actual value of that parameter. 
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<p>@Html.ActionLink("Add a engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>